/*格式化样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0
}
fieldset, img {
    border: 0
}
img {
    display: block
}
ul, ol {
    list-style: none
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft Yahei", "宋体";
    background:none;
    outline:none;
    border:1px solid #666;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
select, input {
    vertical-align: middle
}
select, input, textarea {
    font-size: 12px;
    margin: 0
}
input[type="text"], input[type="password"], textarea {
    outline-style: none;
    -webkit-appearance: none
}
textarea {
    resize: none
}
table {
    border-collapse: collapse
}
html{
    height: 100%;
}
body {
    color: #333;
    font-family:"Microsoft Yahei","宋体",Tahoma,Arial,Helvetica,STHeiti;
    background: #fff;
    height: 100%;
    background-image: url("../images/bodybgc.jpg");
}

img{
    display: inline-block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
}
.clearfix {
    zoom: 1
}
.clearit {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden
}
.fl {
    float: left;
    -display: inline
}
.fr {
    float: right;
    -display: inline
}
a {
    color: #666;
    text-decoration: none
}
/*a:visited {*/
    /*color: #666*/
/*}*/
/*a:hover, a:active, a:focus {*/
    /*color: #ff8400;*/
/*}*/
.vg-aside .iconfont{
    font-size: 20px;
    color:#3dc4c9;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.shim{
    height:auto;
    border-left: 1px solid #b6b6b6;
}
.layouttop{
    width: 100%;
    height:auto;
    background-color: #fff;
}
.layoutbom{
    width: 100%;
    height:auto;
    background-color: #fff;
    margin-top: 30px;
}
/*header*/
.vg-header{
    height: 80px;
}
.vg-header .vg-header-logo{
    width: 200px;
}
.vg-header .vg-header-logo a{
    display: inline-block;
    height: 80px;
    width: 200px;
}
.vg-header .vg-header-logo a img{
    /*height: 80px;*/
    width: 200px;
}
.vg-header .vg-header-right{
    width:500px ;
}
.vg-header .vg-header-right .vg-header-phone{
    width: 250px;
    height: 80px;
    line-height: 80px;
}
.vg-heade .vg-header-right .vg-header-phone span:first-child{
    font-size: 16px;
}
.vg-header .vg-header-right .vg-header-phone span:last-child{
    font-size: 24px;
    font-family: Candara;
}
.vg-header .vg-header-right .vg-header-account{
    height: 80px;
    line-height: 80px;
}
.vg-header .vg-header-right .vg-header-account a:first-child{
    margin-right: 35px;
}

/*底部*/
.vg-footer{
    height: 94px;
    /*position: absolute;*/
    bottom: 30px;
    width: 100%;
}
.vg-footer .vg-footertop{
    margin: 40px 0;
    text-align: center;
}
.vg-footer .vg-footertop a{
    padding: 0 10px;
    border-right: 1px solid #666;
}
.vg-footer .vg-footertop a:last-child{
    padding: 0 10px;
    border-right: none;
}
.vg-footer .vg-footerbottom{
    text-align: center;
}